@using Haliyikama.ViewModels


@{

}

<div class="container-fluid Banner-Backgroun" >
	<div class="container">
		<div class="jumbotron">
			<h1>HİZMETLERİMİZ</h1>
			<p>Değerli Arnavutköy sakinleri, yaşam alanlarınızda bulunan her cins ve her ebattaki halıların temizleme </p>
			
		</div>
		<div class="row">

			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Hizmetler</li>
			</ul>
		</div>
	</div>
	

</div>

<div class="container">
	<section>
		@{
			foreach (var hizmet in Model.Hizmetler)
			{
				<div class="col-xs-12 col-sm-4 col-lg-3 col-md-3">
					<div class="thumbnail">
						<img src="~/Images/6.jpg" />
						<div class="caption">
							<h3 class="pull-right">@hizmet.Price.ToString("c")</h3>
							<h3>
								<a>@hizmet.Name</a>
							</h3>
							<p>@hizmet.ShortDescription</p>
						</div>
					</div>
				</div>
			}
		}

	</section>
</div>

