@using Haliyikama.ViewModels


@{

}

<div>
	<h2>butun hizmet asagada</h2>
</div>
@{ 
	foreach (var hizmet in Model.Hizmetler)
	{
		<div class="col-sm-4 col-lg-4 col-md-4">
			<div class="img-thumbnail">
				<img src="https://via.placeholder.com/150"/>
				<div class="figure">
					<h3 class="float-right">@hizmet.Price.ToString("c")</h3>
					<h3>
						<a>@hizmet.Name</a>
					</h3>
					<h4>Hzimet Adi :@hizmet.Name</h4>
					<p>@hizmet.ShortDescription</p>
				</div>		
			</div>			
		</div>
	}
}