@using Haliyikama.ViewModels
<div class="container-fluid Banner-Backgroun">
	<div class="container">
		<div class="jumbotron">
			<h1>HAKKIMIZDA</h1>
			<p>Değerli Arnavutköy sakinleri, yaşam alanlarınızda bulunan her cins ve her ebattaki halıların temizleme </p>

		</div>
		<div class="row">

			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Hakkımızda</li>
			</ul>
		</div>
	</div>

</div>
<section class="about-section paddingTB60 ">
	<div class="container">
		@foreach (var hakkimizda in Model.Hakkimizda)
		{
			<div class="row">
				<div class="col-md-7 col-sm-6">
					<div class="about-title clearfix">
						<h1> <span>@hakkimizda.Title</span></h1>
						<p class="about-paddingB">@hakkimizda.Description </p>
						
						<div class="about-icons">
							<ul>
								<li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
								<li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
								<li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
								<li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-sm-6">
					<div class="about-img">
						<img src="@hakkimizda.ImageURL" alt="">
					</div>
				</div>
			</div>
		}

	</div>
</section>