body {

}
#cartButton {
	margin-right: 8px;
}



.loginForm {
	margin: 10%;
}

.checkoutForm {
	margin-top: 5%;
}

.orderForm {
	margin-top: 5%;
	border-radius: 20px;
	border-style: solid;
	border-color: #2fa4e7;
}

a.remove {
	text-decoration: none;
}

	a.remove:hover {
		color: blue;
	}

.center_div {
	margin: 0 auto;
	width: 80% /* value of your choice which suits your alignment */
}

.marginTop {
	margin-top: 5%;
}

.marginTop1 {
	margin-top: 2%;
}

.formPullRightButton {
	margin-right: 10px !important
}

.carousel img {
	min-width: 100%;
}
* {
	/*color: #fff !important;*/
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #7079c6 !important;
}
#a-color {
	color: #7079c6 !important;
}
#a-color-nav {
	color: #fff !important;
}
/*Inline*/
.display-inline {
	display:inline-block;
}

/* HEADER */
#nav-right {
	float: right;
}

.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #7079c6 !important;
	
}

.nav-pills > li.active > a {
	color: #7178c6 !important;
	font-weight: bold;
	background-color: #fff;
}

	.nav-pills > li.active > a:hover {
		background-color: #fff;
	}

.navbar-nav > li > a {
	padding-top: 20px;
}

.navbar-toggle {
	border: 2px solid #7178c6;
}

.icon-bar {
	color: #7178c6;
	border-color: #7178c6;
	background-color: #7178c6;
}

#nav-right button {
	font-size: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid;
	padding: 5px 9px;
}

#nav-right {
	margin-right: 15px;
}
#nav-center {
	text-align: center;
	width: 100%;
}
#navtop {
	font-size: 10px !important;
}

.fa {
	padding-right: 10px;
	font-size: 14px;
	color: #F9B33B !important;
}
#nav-header .fa {
	color: #ffffff !important;
}
#icon-big .fa {
	font-size: 36px;
	border-right: 1px solid #ccc;
	padding-left: 7px;
}
#logo a img {

    margin:15px;
}


#main-navigation {
	font-size: 12px !important;
	font-weight: bold;
}

	#main-navigation .nav > li > a {
		padding-left: 0;
		padding-right: 0;
		color:#fff;

	}

	#main-navigation .container {
		max-width: 720px;
	}
/* MEDIA QUERIES FOR TOP NAV*/
@media screen and (max-width:768px) {
	#nav-left {
		text-align: center;
	}

		#nav-left:after {
			display: block;
			content: "";
			clear: both;
		}

		#nav-left li {
			float: left;
			width: 31%;
			padding: 1%;
		}

	#nav-right {
		display: block;
		content: "";
		clear: both;
	}

	#nav-right {
		text-align: center;
		width: 100%;
	}

		#nav-right li {
			float: left;
			width: 23%;
			padding: 1%;
		}
	
	#logo a img {
		
	}
	
	#main-navigation ul li {
		border-top: 1px solid #7178c6;
		width: 100%;
	}
}
.nav-justified {
	margin-top: 15px;
	margin-bottom: 15px;
}
/* MEDIA QUERIES FOR TOP NAV END*/
/* HEADER END*/


/* SLIDER */
#Container_Carousel .rows .col-xs-12 {
	margin: 0;
	padding: 0;
}

#Container_Carousel {
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 850px;
}

.item img {
	width: 100%;
	max-height: 850px;
}

.carousel, .item, .active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.glyphicon-circle-arrow-left {
	position: absolute;
	top: 50%;
	font-size: 50px;
	opacity: 0.5;
	left: 50px;
}

.glyphicon-circle-arrow-right {
	position: absolute;
	top: 50%;
	font-size: 50px;
	opacity: 0.5;
	right: 50px;
}
/* SLIDER END*/
.row {
	display: flex;
	flex-wrap: wrap;
}
img {
	width: 100%;
}
section{
	margin-top:50px;
	margin-bottom:80px;
}

.blue-light{
	background-color:#39aae1;
}
.blue-dark{
	background-color:#286dae;
}
.section-video {
	background-color: antiquewhite;
	padding-top: 100px;
	padding-bottom: 100px;
}
#sign {
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	bottom: 0;
	top: 0;
	right: 0;
	font-size: 14px;
	z-index: 101;
	height: 50px;
	line-height: 40px;
	padding-right: 10px;
}
	#sign a {
		border-right: 1px solid #ccc;
		padding-right: 7px;
		color: #286dae;
	}
		#sign a:last-child {
			border: none;
		}
span {
	color: #286dae !important;
}
/* carousel */
#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 30px;
}

	/* Control buttons  */
	#quote-carousel .carousel-control {
		background: none;
		color: #222;
		font-size: 2.3em;
		text-shadow: none;
		margin-top: 30px;
	}
		/* Previous button  */
		#quote-carousel .carousel-control.left {
			left: -12px;
		}
		/* Next button  */
		#quote-carousel .carousel-control.right {
			right: -12px !important;
		}
	/* Changes the position of the indicators */
	#quote-carousel .carousel-indicators {
		right: 50%;
		top: auto;
		
		margin-right: -19px;
	}
		/* Changes the color of the indicators */
		#quote-carousel .carousel-indicators li {
			background: #c0c0c0;
		}

		#quote-carousel .carousel-indicators .active {
			background: #333333;
		}

	#quote-carousel img {
		width: 250px;
		height: 100px
	}
/* End carousel */

.item blockquote {
	border-left: none;
	margin: 0;
}

	.item blockquote img {
		margin-bottom: 10px;
	}

	.item blockquote p:before {
		content: "\f10d";
		font-family: 'Fontawesome';
		float: left;
		margin-right: 10px;
	}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#quote-carousel {
		margin-bottom: 0;
		padding: 0 40px 30px 40px;
	}
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

	/* Make the indicators larger for easier clicking with fingers/thumb on mobile */

	#quote-carousel .carousel-indicators {
		bottom: -20px !important;
	}

		#quote-carousel .carousel-indicators li {
			display: inline-block;
			margin: 0px 5px;
			width: 15px;
			height: 15px;
		}

			#quote-carousel .carousel-indicators li.active {
				margin: 0px 5px;
				width: 20px;
				height: 20px;
			}
}