body {

}
#cartButton {
	margin-right: 8px;
}

nav {
	padding: 8px;
}

.loginForm {
	margin: 10%;
}

.checkoutForm {
	margin-top: 5%;
}

.orderForm {
	margin-top: 5%;
	border-radius: 20px;
	border-style: solid;
	border-color: #2fa4e7;
}

a.remove {
	text-decoration: none;
}

	a.remove:hover {
		color: blue;
	}

.center_div {
	margin: 0 auto;
	width: 80% /* value of your choice which suits your alignment */
}

.marginTop {
	margin-top: 5%;
}

.marginTop1 {
	margin-top: 2%;
}

.formPullRightButton {
	margin-right: 10px !important
}

.carousel img {
	min-width: 100%;
}
* {
	color: #b8b8b8 !important;
}

/*Inline*/
.display-inline {
	display:inline-block;
}

/* HEADER */
#nav-right {
	float: right;
}

.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #7079c6 !important;
}

.nav-pills > li.active > a {
	color: #7178c6 !important;
	font-weight: bold;
	background-color: #fff;
}

	.nav-pills > li.active > a:hover {
		background-color: #fff;
	}

.navbar-nav > li > a {
	padding-top: 20px;
}

.navbar-toggle {
	border: 2px solid #7178c6;
}

.icon-bar {
	color: #7178c6;
	border-color: #7178c6;
	background-color: #7178c6;
}

#nav-right button {
	font-size: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid;
	padding: 5px 9px;
}

#nav-right {
	margin-right: 15px;
}

#navtop {
	font-size: 10px !important;
}

.fa {
	padding-right: 10px;
	font-size: 14px;
	color: #9a9a9a !important;
}
#icon-big .fa {
	font-size: 36px;
}
#logo a img {

    margin:15px;
}


#main-navigation {
	font-size: 12px !important;
	font-weight: bold;
}

	#main-navigation .nav > li > a {
		padding-left: 0;
		padding-right: 0;
	}

	#main-navigation .container {
		max-width: 720px;
	}
/* MEDIA QUERIES FOR TOP NAV*/
@media screen and (max-width:768px) {
	#nav-left {
		text-align: center;
	}

		#nav-left:after {
			display: block;
			content: "";
			clear: both;
		}

		#nav-left li {
			float: left;
			width: 31%;
			padding: 1%;
		}

	#nav-right {
		display: block;
		content: "";
		clear: both;
	}

	#nav-right {
		text-align: center;
		width: 100%;
	}

		#nav-right li {
			float: left;
			width: 23%;
			padding: 1%;
		}

	#logo a img {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#main-navigation ul li {
		border-top: 1px solid #7178c6;
		width: 100%;
	}
}
/* MEDIA QUERIES FOR TOP NAV END*/
/* HEADER END*/


/* SLIDER */
#Container_Carousel .rows .col-xs-12 {
	margin: 0;
	padding: 0;
}

#Container_Carousel {
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 850px;
}

.item img {
	width: 100%;
	max-height: 850px;
}

.carousel, .item, .active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.glyphicon-circle-arrow-left {
	position: absolute;
	top: 50%;
	font-size: 50px;
	opacity: 0.5;
	left: 50px;
}

.glyphicon-circle-arrow-right {
	position: absolute;
	top: 50%;
	font-size: 50px;
	opacity: 0.5;
	right: 50px;
}
/* SLIDER END*/
.row {
	display: flex;
	flex-wrap: wrap;
}
img {
	width: 100%;
}
section{
	margin-top:50px;
	margin-bottom:30px;
}