@using Haliyikama.ViewModels
<div class="container-fluid Banner-Backgroun">
	<div class="container">
		<div class="jumbotron">
			<h1>FİYAT LİSTESİ</h1>
			<p>Değerli Arnavutköy sakinleri, yaşam alanlarınızda bulunan her cins ve her ebattaki halıların temizleme </p>

		</div>
		<div class="row">

			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Fiyat Listesi</li>
			</ul>
		</div>
	</div>

</div>
<section>
	<div class="container">
		<div class="table-responsive">
			<table class="table">

				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Tip</th>
						<th scope="col">Fiyat</th>

					</tr>
				</thead>
				<tbody>
					@{
						foreach (var fiyat in Model.Fiyatlar)
						{

							<tr>
								<th scope="row">@fiyat.FiyatId</th>
								<td>@fiyat.Name</td>
								<td>@fiyat.Price</td>

							</tr>
						}

					}
				</tbody>
			</table>
		</div>
	</div>
</section>