@using Haliyikama.ViewModels

<div class="container-fluid Banner-Backgroun">
	<div class="container">
		<div class="jumbotron">
			<h1>SERVİSLERİMİZ</h1>
			<p>Değerli Arnavutköy sakinleri, yaşam alanlarınızda bulunan her cins ve her ebattaki halıların temizleme </p>

		</div>
		<div class="row">

			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Library</a></li>
				<li class="active">Data</li>
			</ul>
		</div>
	</div>


</div>

<section class="new-deal">
	<div class="container">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
			<div class="item-slide">
				<div class="box-img">
					<img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas" />
					<div class="text-wrap">
						<h4>Avcılar </h4>

					</div>
				</div>
				<div class="slide-hover">
					<div class="text-wrap">
						<p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
						<h4>Avcılar</h4>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
			<div class="item-slide">
				<div class="box-img">
					<img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas" />
					<div class="text-wrap">
						<h4>Bağcılar</h4>

					</div>
				</div>
				<div class="slide-hover">
					<div class="text-wrap">
						<p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
						<h4>Bağcılar </h4>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
			<div class="item-slide">
				<div class="box-img">
					<img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas" />
					<div class="text-wrap">
						<h4>Beykoz</h4>

					</div>
				</div>
				<div class="slide-hover">
					<div class="text-wrap">
						<p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
						<h4>Beykoz</h4>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
			<div class="item-slide">
				<div class="box-img">
					<img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas" />
					<div class="text-wrap">
						<h4>Beylikdüzü</h4>

					</div>
				</div>
				<div class="slide-hover">
					<div class="text-wrap">
						<p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
						<h4>Beylikdüzü</h4>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
			<div class="item-slide">
				<div class="box-img">
					<img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas" />
					<div class="text-wrap">
						<h4>Pendik </h4>

					</div>
				</div>
				<div class="slide-hover">
					<div class="text-wrap">
						<p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
						<h4>Pendik </h4>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal">
			<div class="item-slide">
				<div class="box-img">
					<img src="http://orig11.deviantart.net/6356/f/2010/156/e/f/swallowed_by_nature_by_danutza88.jpg" alt="dasdas" />
					<div class="text-wrap">
						<h4>Şişli </h4>

					</div>
				</div>
				<div class="slide-hover">
					<div class="text-wrap">
						<p>MyFlightSearch gets you flight tickets at the best price. MyFlightSearch gets you flight tickets at the best price.</p>
						<h4>Zeytinburnu </h4>

					</div>
				</div>
			</div>
		</div>

	</div>

</section>